<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= cssPath %>" />
  </head>
  <body>

    <div id="mocha"></div>


    <script src="<%= mochaPath %>"></script>

    <script src="<%= requireConfigPath %>"></script>
    <script src="<%= requirePath %>"></script>

    <script>mocha.setup('bdd')</script>

    <script>
      require([
      <% testPaths.forEach(function (path) { %> "<%= path %>", <% }); %>
      ],
      function () {
      <% if (checkLeaks) { %> mocha.checkLeaks(); <% } %>
        if (window.mochaPhantomJS) {
          mochaPhantomJS.run();
        } else {
          mocha.run();
        }
      });
    </script>

  </body>
</html>
